streamlit==1.43.2
pandas==2.2.3
sqlalchemy==2.0.37
altair==5.5.0
matplotlib==3.10.0
seaborn==0.13.2
plotly==5.21.0
tqdm>=4.66.0
# Use python-tds and sqlalchemy-pytds instead of pymssql
python-tds>=1.12.0
sqlalchemy-pytds>=0.3.3