streamlit==1.43.2
pandas==2.2.3
sqlalchemy==2.0.37
altair==5.5.0
matplotlib==3.10.0
seaborn==0.13.2
plotly==5.21.0
tqdm>=4.66.0
# Use a pre-compiled wheel for Python 3.12 compatibility
pymssql-binary>=2.2.7
# Comment out pyodbc for now
# pyodbc>=4.0.39